<!-----------------------------------------------------
* Programmer: Lance Zotigh (lzotigh1@cnm.edu)
* Purpose: A simple program that calculates the amount of chemicals you need to add to a bucket of water (4 Hydroponics)
------------------------------------------------------->

@page "/gencalcpage"
<h3>Calculate Your Nutriton Level for your Plants</h3>

@code {

}
